[submodule "external/andres-graph"]
	path = solverILP/external/andres-graph
	url = https://github.com/bjoern-andres/graph.git
[submodule "external/TCLAP"]
	path = solverILP/external/TCLAP
	url = https://github.com/mirror/tclap.git
